<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlinnavigationsample">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".BasicNavigationActivity"
        android:label="@string/title_activity_basic_navigation"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.kotlinnavigationsample.MainActivity"/>
    </activity>
    <activity
        android:name=".BottomNavigationActivity"
        android:label="@string/title_activity_bottom_navigation"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.kotlinnavigationsample.MainActivity"/>
    </activity>
    <activity
        android:name=".DrawerNavigationActivity"
        android:label="@string/title_activity_drawer_navigation"
        android:parentActivityName=".MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.kotlinnavigationsample.MainActivity"/>
    </activity>
    <activity
        android:name=".DeepLinkNavigationActivity"
        android:label="@string/title_activity_deep_navigation"
        android:parentActivityName=".MainActivity">
      <nav-graph android:value="@navigation/deep_navigation"/>
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.kotlinnavigationsample.MainActivity"/>
    </activity>
    <activity
        android:name=".SafeArgsNavigationActivity"
        android:label="@string/title_activity_safe_args_navigation"
        android:parentActivityName=".MainActivity">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.example.kotlinnavigationsample.MainActivity"/>
    </activity>
  </application>
</manifest>

